
.topMenu{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  list-style-type: none;
}
.menuLink{
  padding: 15px;
  cursor: pointer;
}
.menuLink a{
  text-align: center;
  text-decoration: none;
  color: white;
}

.manulink:nth-child(1){
  background-color: turquoise;
}
 
