<!DOCTYPE html>
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet_base.css' %}">
    {% block head %}

    {% endblock %}
</head>

<body>
    <nav style="background-color: black; height: 70px; width: 100%; top:0; left:0; position: absolute;">
        <ul class="topMenu" id="topMenu" style="left:10%; position:absolute;">
            <li><a class="menuLink" href="#">마음체크</a></li>
            <li><a class="menuLink" href="#">방문 기록 조회</a></li>
        </ul>
            <div style = "text-align: right;">
                {% if user.is_authenticated %}
                    <div style = "color:white; position: absolute; top: 25px; right:10%;">{{name}}님, 환영합니다!</div>
                {% else %}
                    <div id="naver" style = "color:white; position: absolute; top: 25px; right:10%;"><a href="{% provider_login_url 'naver' %}">네이버 아이디로 로그인</a></div>
                {% endif %}
            </div>

    </nav>
    {% block body %}

    {% endblock %}
</body>

</html>