{% extends 'base.html' %}

{% block title %}

        공간생성 : 마음체크

{% endblock %}

{% block head %}
{% endblock %}

{% block body %}

<div id = "form">
<form id="PlaceforCreate" action="{% url 'SavePlace' %}" method ="post">
    {% csrf_token %}

    <h1>QR 공간 지정</h1>

    <div>
        <input class="textbox" type="text" placeholder="공간명을 입력해주세요" name="name">
    </div>
    <div>
        <input class="textbox" type="text" placeholder="주소를 입력해주세요" name="address">
    </div>
    <div>
        <input class="textbox" type="number" placeholder="최대인원을 입력해주세요" name="maxpeople">
    </div>
    <div id = "submit">
        <input class="submit" type="submit" value="QR 코드 생성">
    </div>
</form>
    <div id = "comment">
        <h3>Meeting을 생성하시고 싶으신가요? <a href="{% url "SetMeeting" %}">Meeting QR 생성</a></h3>
    </div>
</div>

{% endblock %}